__pycache__/
*.pyc
*.pyo
.Python
.coverage
.pytest_cache/
test-results/
htmlcov/
*.log
.env
.venv
venv/
.DS_Store
*.swp

# Docs
SETUP.md

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars

# Testing
dgoss
goss
goss.yaml
coverage/
coverage.xml

# Database files
*.db
instance/

# Certificates
*.crt